.venv/
.git/
.gcloud/
.cache/
.cache.sqlite
data/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
terraform/
tests/
notebook/
architecture.py
architecture.png
.env
.env.example
.pre-commit-config.yaml
.github/
Makefile
README.md
